body{
    background-color:white;
}

.main-box{
    display: flex;
    width: 800px;
    height: 600px;
    border: 2px solid black;

    align-items: center;
    margin-left: 300px;
    margin-top:50px ;
    align-self: center;
}