body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #bcdfff, #eaf3ff);
}

.title {
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    color: #1a1a1a;
    font-weight: 600;
}

.container {
    margin: 20px;
    width: 80%;
    margin: 30px auto;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.contact-info, .contact-form {
    width: 45%;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.info-box {
    margin-bottom: 20px;
}

.info-box h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #003366;
}

.info-box p {
    margin: 0;
    font-size: 16px;
    color: #333;
}


.contact-form h3 {
    margin: 20px;
    font-size: 22px;
    margin-bottom: 20px;
    color: #003366;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #c5d8ff;
    border-radius: 10px;
    font-size: 16px;
}

form textarea {
    height: 120px;
    resize: none;
}

form button {
    width: 100%;
    padding: 12px;
    background: #1e73f0;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #0b59c7;
}


@media (max-width: 600px) {
    .container {
        flex-direction: column;
        /* margin: auto; */
        justify-content: center;
        align-items: center;
        width: 90%;
           }

    .contact-info, .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }
}