
#bg{
    background-color: rgb(128, 187, 211);
    width: 190vh;
    height: 90vh;
}
body{
    
    background-color:rgb(112, 157, 201);
    width: 190vh;
    height: 90vh;
}
.cards{
    background-color: rgb(173, 119, 95);
    width:200px;
    height:120px;
    border-radius:10px;
    box-shadow:0 0 10px rgb(225, 214, 214);
    display:flex;
    align-items: center;
    justify-self: center;
    font-weight: 40px;
}

body {
    
  margin: 0;
  padding: 0;
  background-color: rgb(157, 205, 247);
}
/*sidebar styles*/
.header-right {
    width: 180px;
    height: 100vh;
    background-color: rgb(235, 231, 199);
    position: fixed;
    top: 0;
    right: 0;;
  padding: 0px 20px 0px 20px;
  margin: 5px;
  text-decoration: darkblue;
  display: flex;
  flex-direction: column;
  gap: 0;
   border-radius:5px;
  box-shadow: 0 0 10px rgb(24, 60, 122);
  justify-content: flex-start;
  align-items: center;
}
 .header-right a.logo {
    background-color: white;
    font-size: 20px;
  margin-right: auto;
    border-radius:5px;
    box-shadow:0 0 10px rgb(48, 35, 35);
}
.header-right a.logo:hover{
    background-color: white;
    color: black;
    cursor: default;
      border-radius:10px;
    box-shadow:0 0 10px rgb(48, 35, 35);
}

.header-right a {
    width: 150px;
    padding: 12px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight:bold;
    color:black;
    transition: 0.5ease;
    border-radius:10px;
    box-shadow:0 0 10px rgb(48, 35, 35);

}
.header-right a:hover{
    background-color:rgb(0, 31, 188);
    color: white;
    cursor:pointer;
}
.header-right{
    gap: 0;
}
/* dashboard*/
.dashboard{
    width: 100vw;
    padding: 20px;
}
/*search bar*/
.search-bar{
    width: 100%;
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:20px;
    margin-top: 20px;
    justify-content: flex-start;
}
.search-bar input{
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid gray;
    font-size: 16px;
    outline: none;
    transition:0.5 ease;
    border-radius:10px;
    box-shadow:0 0 10px rgb(48, 35, 35);
}
.search-bar input:focus{
    border-color:rgb(59,120,207);
    box-shadow:0 0 5px rgba(59,120,207,0.5)
}
.search-bar button{
    padding: 10px 25px;
    background-color: darkkhaki;
    border:none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor:pointer;
    font-weight:bold;
    transition:0.5 ease;

}
.search-bar button:hover{
    background-color:rgb(36,90,170)
}
/* creating cards section*/
.card-container{
    display: flex;
    gap:40px;
    margin-bottom:30;
    align-items: flex-start;
}
.box{
    background-color:rgb(197, 223, 197);
    width: 10px;
    padding:500px;
    border-radius:10px;
    box-shadow:0 0 10px rgb(128, 92, 92);
    text-align:center;
    font-weight:bold;
    border: 2px solid rgb(6, 3, 3);

}
.cards{
    background-color:rgb(213, 224, 167);
    width: 100px;
    padding:50px;
    border-radius:10px;
    box-shadow:0 0 10px rgb(48, 35, 35);
    text-align:left;
    font-weight:bold;
    border: 2px solid rgb(6, 3, 3);
}
.item{
    background-color:rgb(241, 195, 198);
    width: 100px;
    padding:50px;
    border-radius:10px;
    box-shadow:0 0 10px rgb(48, 35, 35);
    text-align:left;
    font-weight:bold;
    border: 2px solid rgb(6, 3, 3);

}
.total{
    background-color:rgb(196, 172, 174);
    width: 100px;
    padding:50px;
    border-radius:10px;
    box-shadow:0 0 10px rgb(48, 35, 35);
    text-align:left;
    font-weight:bold;
    border: 2px solid rgb(6, 3, 3);

}
.pending{
    background-color:rgb(197, 223, 197);
    width: 100px;
    padding:50px;
    border-radius:10px;
    box-shadow:0 0 10px rgb(128, 92, 92);
    text-align:left;
    font-weight:bold;
    border: 2px solid rgb(6, 3, 3);

}

.cards:hover {
    background-color: rgb(131, 181, 98);
}

.item:hover {
    background-color: rgb(167, 93, 93);
}

.total:hover {
    background-color: rgb(102, 169, 111);
}

.pending:hover {
    background-color: rgb(191, 215, 97);
}

/*table*/
.order-table{
    width:50%;
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0 0 10px gray;;
}
.order-table th,.order-table td{
    border:1px solid gray;
    padding:10px;
    text-align:center;
}
.order-table th{
    background-color: antiquewhite;
    font-size:18px;
}


@media (max-width: 768px) {
    .header-right {
        width: 100px;
        padding: 10px;
    }
    .header-right a {
        width: 100px;
        padding: 8px;
        font-size: 14px;
    }
    .search-bar input {
        width: 70%;
    }
    .card-container {
        flex-direction:flex;
        align-items: center;
        justify-content: center;
    }
    .order-table {
        width: 100%;
    }
    .header-right{
        visibility: hidden;
    }
    .card-container{
        display: flex;
        flex-direction: row;
    }
    .order-table{
    width:100%;
    }
}