body {
  margin: 0;
  padding: 0;
  background-color: skyblue;
}

.header {
    background-color: antiquewhite;
  padding: 0px 20px 0px 20px;
  margin: 5px;
  text-decoration: none;
  display: flex;
  border: 2px solid black;
  gap: 20px;
  justify-content: end;
}
.logo {
  margin-right: auto;
}

a {
  color: black;
  text-decoration: none;
}
a:hover{
    color:rgb(0, 31, 188);
}
