body {
    background-color: lightgrey;
    display: flex;
}
form{
    align-items: center;
    justify-content: center;

}
.login_box {
    width: 400px;
    height: 300px;
    padding: 20px;
    border: 2px solid rgb(240, 190, 190);
    margin: 0 auto;
    background-color:rgb(117, 114, 110);
    align-items: center;
    justify-content: center;
    margin-top: 100px auto;
    padding-top: 10px;
    font-weight: 900;
    font-size: medium;

}
.upperbox {
    display:flex;
    width:100%;
    height:100vh;
    background-color: rgb(82, 173, 173);
    padding-top: 200px;

}
label , input{
    gap: 20px;
    margin: 20px;
    

}
button{

    background-color: rgb(165, 144, 144);
    font-size:medium ;
    font-weight: bold;
    align-items: center  ;
    /* padding: 70; */
    justify-content: center;
}