.product_header{
    border: 2px solid black;
    width: fill-content;
    background-color: rgb(240, 193, 193);
    gap: 10%;
    position: relative;
    display: flex;
}
.product_images{
    background-color: rgb(142, 142, 150);
    margin: 20px;
}