body{
    background-image: url(../Res/product_images/icon/signup_bg1.webp);
}

/* for box */
.signup_box{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 50%;
    height: 50%;
    margin: auto;
    border: 2px solid black;
    background-color: white;
    border-radius:5%;
    position: relative;
}


/* for item which is inside the box */
h1,form{
    text-align: center;
    padding: 10px;
}

#name ,#number ,#email {
    border-radius:5px ;
}


/* for checkbox */
#agree{
    accent-color: rgb(169, 61, 246);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#label_agree{
    color: darkblue;
    font-weight: bold;
}

#create_acc_small_box{
    width: 35;
    height: 4.35vh;
    background-color: black ;
    border-radius: 11%;
    font-size: small;
}

h2{
    color: white;
    text-align: center;
    cursor: pointer;
}

.continue_box{
    text-align: center;
    margin-top: 5px;   
}
.google-btn , .facebook-btn{
    width: 45%;
    padding: 10px;
    border-radius: 5%;
    font-size: 12px;
    display: right;
    align-items: center;
    border: 1px solid red;
    background-color: beige;
    gap: 10px;
    cursor: pointer;
}
.google-btn img.icon , .facebook-btn img.icon {
    width:35px; 
    
}