body{
    background-image: url(../Res/bg_image/Nature2.jpg);
    /* margin: auto; */
    padding: 50px;
    /* height: 100vh; */
    background-size: cover;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    color: darkblue;
    font-weight: bolder;
}




/* for box */
#signup_box{
    background: rgba(255, 255, 255, 0.1);
    /* padding: 40px; */
    margin: auto;
    border-radius: 15px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    width: 340px;
    text-align: center;
    border: 1px solid rgba(238, 233, 233, 0.3);
    /* position: relative; */
}
input::placeholder{
    color: azure;
    opacity: 1;
}

#name ,#password ,#email {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    background-color:rgb(145, 145, 107);
    border-radius:5px ;
    /* border: 2px solid rgba(255, 2555, 255, 0.5); */
    background: rgba(49, 48, 48, 0.2);
    color: rgb(227, 16, 16);
    outline: none;
}
#otp_verify{
    width: 50%;
    padding: 8px;
    margin: 5px 0;

    border-radius:5px ;
    border: 2px solid rgba(255, 2555, 255, 0.5);
    background: rgba(118, 117, 117, 0.2);
    color: rgb(18, 5, 5);
    outline: none;
}
.otp_line{
    color: rgb(250, 249, 250);
}


/* for checkbox */
#agree{
    accent-color: rgb(169, 61, 246);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#label_agree{
    color: darkblue;
    font-weight: bold;
}

.create_acc_button{
    width: 90%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(116, 18, 18);
    background-color: rgb(142, 174, 174);
    font-size: 16px;
    transition: 0.3s;
}


.left_button , .right_button{
    width: 45%;
    height: 30px;
    border-radius: 10px;
    /* margin-left: 0px; */
    background-color: bisque;
    display: inline;
}


.continue_box {
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
        }

.google-btn, .facebook-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;       /* makes button circular */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

        .google-btn img {
            width: 40px;
            height: 40px;
            margin-right: 8px;

        }
        .facebook-btn img {
            width: 50px;
            height: 50px;
            margin-right: 8px;

        }


/* @media screen {max-width: 550;
    
} */