body{
    background-image: url(../Res/product_images/icon/signup_bg1.webp);
}

/* for box */
.signup_box{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 350px;
    height: 50%;
    margin: auto;
    border: 2px solid black;
    background-color: white;
    border-radius:5%;
    position: relative;
}


/* for item which is inside the box */
h1,form{
    text-align: center;
    padding: 10px;
}

#name ,#number ,#email {
    border-radius:5px ;
}


/* for checkbox */
#agree{
    accent-color: rgb(169, 61, 246);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#label_agree{
    color: darkblue;
    font-weight: bold;
}

#create_acc_small_box{
    width: 250px;
    height: 4.35vh;
    margin: auto;
    background-color: black ;
    border-radius: 10px;
    font-size: small;
}

h2{
    color: white;
    text-align: center;
    cursor: pointer;
}



.google-btn ,img.icon ,.facebook-btn, img.icon {
    width:35px; 
    background-color: white;
    border: none;
    cursor: pointer;
}